/*
Bitcoin Address

markup:
<p class="bitcoin-address">16cou7Ht6WjTzuFyDBnht9hmvXytg6XdVT</p>

Styleguide 2.14
*/

.bitcoin-address {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
}
