meta content="website" property="og:type" /
meta content="#{request.original_url}" property="og:url" /
meta content="Bitcoinocracy" property="og:title" /
meta content="#{image_url('bitcoinocracy-share.jpg')}" property="og:image" /
meta content="Vote with your Bitcoin signature! Bitcoinocracy is a free and decentralized way to measure the Bitcoin community's stance on a given proposition." property="og:description" /
meta content="summary_large_image" name="twitter:card" /
meta content="@BTCTN" name="twitter:site" /
meta content="#{request.original_url}" name="twitter:url" /
meta content="Bitcoinocracy" name="twitter:title" /
meta content="Vote with your Bitcoin signature! Bitcoinocracy is a free and decentralized way to measure the Bitcoin community's stance on a given proposition." name="twitter:description" /
meta content="#{image_url('bitcoinocracy-share.jpg')}" name="twitter:image" /
